
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

link(href='/globalAssets/stylize.css' rel='stylesheet')

script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.1.4/dist/depp.min.js')
script(src='/globalAssets/init.js')

meta(name='description' content='')
title Starter Template 
