doctype html
html(lang='en')
	head
		include /_head
	body
		header
			include /_nav

		main
			section

				h1 INTUITION.DEV is a boutique consulting agency
				blockquote "If you need a problem project compleated, this is the way to go" 

				h3 Reliable!
				p Sometimes you can't take a chance, sometimes it has to work - and be cost effective.

				aside
					h5 And we build your team for you.
					p Extensive experience building a remote team.

			footer
				include /_footer
